{% load bootstrap3 %}
	<!DOCTYPE html>
	<html lang="en">
	 <head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
	 <title>Learning Log</title>
	 {% bootstrap_css %}
{% bootstrap_javascript %}
	 </head>
	 
	 <body>

	 <h2>
<a href="ent_test">Register an account</a> to make
your own Learning Log, and list the topics you're learning about.
</h2>
<h2>
Whenever you learn something new about a topic, make an entry
summarizing what you've learned.
</h2>
<h2>    Welcome to Django!  </h2>
<h2>     Тру-ля-ля          </h2>
<h2>    <a href="ent_test">на входной тест</a></h2>
    
</body>
</html>
